body{
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulo{
    width: auto;
    margin:  0 auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    
    font-family: Roboto;
    font-size: 56px;
    font-style: normal; 
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -0.004em;
    text-align: center;
    color: #75B79E;
}
.container{
    display: none;
}
.container.jogando{
    /* Variavel do CSS, responsavel pela mudança dinamica da width das cartas para dividir perfeitamente */
    --num_cartas: 6;
    --divisor: 2;

    width: calc((127px*var(--num_cartas))/var(--divisor));
    max-width: 100%;
    height: auto;

    margin-top: 150px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap:  10px;
}
.carta{
    width: 117px;
    height: 146px;
    background-color: transparent;

    position: relative;
}
.face{
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    
    border: 1px solid #99CEA8;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;

    backface-visibility: hidden;
    transition: all 1s;
    transform-style: preserve-3d;
}
.costas{
    transform: rotateY(180deg);
}
.carta.clicado .costas {
    transform: rotateY(0deg);
}

.carta.clicado .frente {
    transform: rotateY(-180deg);
}
.carta img{
    width: 100px;
    height: 100px;

    display: block;
    margin: auto auto;
}
.menu_inicial{
    width: 45%;
    height: 300px;
    background-color: white;

    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    font-family: Roboto;
    font-size: 56px;
    font-style: normal; 
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -0.004em;
    text-align: center;
    color: #75B79E;
}
.iniciar{
    width: 200px;
    background-color: #A7E9AF;

    border: 1px solid #99CEA8;
    border-radius: 10px;
    cursor: pointer;
}
.escondido{
    display: none;
}